{% extends "base.html" %}

{% block content %}

<div class="detail-content">
    <nav class="breadcrumb">
        <ol>
            <li><a class="link-underline" href="{{ url_for('index') }}">Paul Angermeier</a></li>
            <li><a class="link-underline" href="{{ url_for('projects') }}">Projektübersicht</a></li>
            <li><span>{{ project['title'] }}</span></li>
        </ol>
    </nav>
    <h1>{{ project['title'] }}</h1>
    <div class="detail-image">
        <img src="{{ url_for('static', filename=project['image_path']) }}" alt="">
    </div>
    <p>{{ project['long_description'] | safe }}</p>
    {% for section in content %}
    <section>
        <h2>{{ section['heading'] }}</h2>
        <p>{{ section['content'] | safe }}</p>
        {% if section['image_path'] %}
        <img src="{{ url_for('static', filename=section['image_path']) }}" alt="">
        {% endif %}
    </section>
    {% endfor %}
</div>

{% endblock %}